# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore other unneeded files.
*.swp
*~
target/
build/

# Ignore eclipse/idea and other files
.DS_Store
.gradle
.idea
.classpath
.project
.settings/
.tomcatplugin
.metadata
.#webclasspath
